<script src="<%= route %>/javascripts/ejs.min.js"></script>
<script id="check_template" type="text/template">
    <div style="width: 33.33%; padding: 40px 20px; float: left;">
        <div class="thumbnail">
            <img src="/images/server-down.jpg" alt="server down">
            <div class="caption">
                <h3>{{= check.url }}</h3>
                <p>Please, check me</p>
                <p>{{= checkEvent.details }}</p>
                <audio controls autoplay loop id="audio-{{= check._id }}-{{= index }}" style="display: none;">
                    <source src="{{= check.audio_file }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <p style="text-align: center;">
                    <a style="padding: 7px 20px; display: block;" href="#audio-{{= check._id }}-{{= index }}" id="shut-up-{{= check._id }}-{{= index }}" class="btn btn-primary shut-up" role="button">Shut Up</a>
                </p>
            </div>
        </div>
    </div>

</script>

<h1>
    I'll scream when you down
</h1>

<div id="set-time" class="panel panel-default">
    <div class="panel-heading">Set time loop for scream</div>
    <div class="panel-body">
        <div class="time-range">
            <div class="form-group time-range-group">
                <label for="time-start">Start</label>
                <input id="time-start" name="scream_start_time" class="form-control" type="text" value=""/>
            </div>

            <div class="form-group time-range-group">
                <label for="time-end">End</label>
                <input id="time-end" name="scream_end_time" class="form-control" type="text" value=""/>
            </div>
        </div>
        <div class="weekend">
            <h5>Weekend scream</h5>
            <label class="checkbox">
                <input type="checkbox" name="scream_ignore_saturday"> Saturday
            </label>
            <label class="checkbox">
                <input type="checkbox" name="scream_ignore_sunday"> Sunday
            </label>
        </div>
    </div>
</div>

<div id="screams" class="row">
</div>

<style>
    .panel {
        border: solid 1px #BBBBBB;
        overflow: hidden;
        border-radius: 5px;
        margin: 30px 0;
    }
    .panel-heading, .panel-body {
        padding: 10px 20px;
    }

    .panel-heading {
        border-bottom: solid 1px #BBBBBB;
        background-color: #EFEFEF;
        font-size: 18px;
    }
    .time-range-group {
        width: 300px;
        float: left;
    }
    .time-range-group label {
        font-weight: bold;
    }
    .time-range-group input {
        font-size: 30px;
        height: 30px;
        padding: 10px;
    }
    .weekend {
        clear: both;
    }
</style>

<script>
$(document).ready(function() {

    var check_template = document.getElementById('check_template').innerHTML;
    var ejs = require('ejs');
    ejs.open = '{{';
    ejs.close = '}}';

    var lines = [];

    $('#set-time input').change(function (e) {
        var input = $(e.target);
        var val = '';

        if (input.attr('type') == 'text') {
            val = $(e.target).val();
        }
        else if (input.attr('type') == 'checkbox') {
            val = $(e.target).prop('checked');
        }
        localStorage.setItem(input.attr('name'), val);
    });

    $('input[name="scream_start_time"]').val(localStorage.getItem('scream_start_time') || '8:00');
    $('input[name="scream_end_time"]').val(localStorage.getItem('scream_end_time') || '17:00');

    if (!localStorage.getItem('scream_ignore_saturday') || localStorage.getItem('scream_ignore_saturday') == 'false') {
        $('input[name="scream_ignore_saturday"]').removeProp('checked');
    }
    else {
        $('input[name="scream_ignore_saturday"]').prop('checked', 'checked');
    }

    if (!localStorage.getItem('scream_ignore_sunday') || localStorage.getItem('scream_ignore_sunday') == 'false') {
        $('input[name="scream_ignore_sunday"]').removeProp('checked');
    }
    else {
        $('input[name="scream_ignore_sunday"]').prop('checked', 'checked');
    }

    var checkTimeScream = function () {

        var start = $('input[name="scream_start_time"]').val();
        var end = $('input[name="scream_end_time"]').val();
        var ignore_saturday = $('input[name="scream_ignore_saturday"]').prop('checked');
        var ignore_sunday = $('input[name="scream_ignore_sunday"]').prop('checked');

        var startTmp = start.split(':');
        var startMinutes = parseInt(startTmp[0] || 0)*60 + parseInt(startTmp[1] || 0);

        var endTmp = end.split(':');
        var endMinutes = parseInt(endTmp[0] || 0)*60 + parseInt(endTmp[1] || 0);

        var current = new Date();
        var currentMinutes = current.getHours()*60 + current.getMinutes();

        if (current.getDay() == 6 && ignore_saturday) {
            return false;
        }
        if (current.getDay() == 0 && ignore_sunday) {
            return false;
        }
        if (currentMinutes >  startMinutes && currentMinutes <  endMinutes) {
            return true;
        }
        return false;

    }

    var checkCurrentWeekend = function() {

    }


    socket.on('CheckEvent', function (checkEvent) {

        if ((checkEvent.message == 'down' || checkEvent.isGoDown) && checkTimeScream()) {

            $.get('/api/checks/' + checkEvent.check, function(check) {

                if (check.pollerParams.scream_file) {
                    check.audio_file = '/uploads/' + check._id + '.' + check.pollerParams.scream_file;

                    var index = lines.length + 1;

                    lines.push(check);
                    $('#screams').prepend(ejs.render(check_template, { check: check, checkEvent: checkEvent, index: index }));

                    $('#shut-up-' + check._id + '-' + index).click(function (e) {
                        e.preventDefault();
                        $($(this).attr('href')).get(0).pause();
                        $(this).removeClass('btn-primary');
                    })
                }
            });
        }
    });
});
</script>